<div data-ng-controller="GlobalTrade.Backoffice.DashboardController" data-ng-show="loaded" class="umb-tab-content globaltrade-dashboard">
    <div class="umb-box">
        <div class="umb-box-content">
            <div class="globaltrade-logo">
                <img src="/App_Plugins/globaltrade/assets/images/logo.png" alt="Global Trade, e-commerce package" />
            </div>

            <div class="intro-text">
                Welcome to v{{globaltradeVersion}} of Global Trade.
            </div>
        </div>
    </div>
</div>

