<div class="panel-flexbox gt-flex-grow-and-re-flex-col ">
    <div class="umb-panel-group__details-group">
        <div class="umb-panel-group__details-group-title">
            <div class="umb-panel-group__details-group-name">{{ title }}</div>
        </div>
    </div>
    <div class="umb-box gt-flex-grow gt-position-relative" data-ng-show="preValuesLoaded">
        <div class="umb-box-content">
            <div ng-transclude>

            </div>
        </div>
    </div>
    <gt-spinner />
</div>
