<div ng-controller="GlobalTrade.Backoffice.CamerasCampaignsController" ng-show="loaded" class="umb-dashboard">
    <div class="umb-dashboard__header">
        <gt-tabs tabs="tabs"></gt-tabs>
    </div>
    <div class="umb-dashboard__content gt-flex-grow-and-re-flex-col">
        <gt-panel-flexbox boxtitle="Campaigns">
            <gt-hello name="Campaigns Upgraded" />
            <div class="row gt-position-absolute-bottom gt-padding-10">
                <div class="umb-button pull-right">
                    <button class="btn btn-success " ng-click="save()">Save</button>
                </div>
            </div>
        </gt-panel-flexbox>
    </div>
</div>
